@model IEnumerable<MVC_HW_191130.Models.AccountBook>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categoryyy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amounttt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dateee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarkkk)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categoryyy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amounttt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dateee)
        </td>
        <td style="text-overflow: ellipsis; max-width:500px;overflow: hidden;">
            @Html.DisplayFor(modelItem => item.Remarkkk)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.Id }) |            
            @Html.ActionLink("刪除", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
